# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Env
.env.local
.env
backend/.env
frontend/.env

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Cache
.ruff_cache/
.pytest_cache/

# Backend specific
backend/blacklist_cache.json